@model Jakarta.Models.BlogPost

@{
	ViewBag.Title = Model.Title + " - Robert Lebovich";
}

<div class="row">
	A place for responsive image
</div>
<div class="row">
	<!-- article -->
	<div class="large-9 columns" style="border-right: thick solid grey;">
		<h2>@Model.Title</h2>
	</div>
	<div class="large-3 columns">
		<p style="font-size: 24px;">@Model.CreationDate.ToLongDateString()</p>
	</div>
	<!-- /article -->
</div>
<div class="row">
	<p style="font-style: italic;">@Model.Copy</p>
</div>
<div class="row">
	<p>@Model.Content</p>
</div>