@{
    ViewBag.Title = "Portfolio - Robert Lebovich";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
	<h1 class="welcome_text">Know a little more about me and my work</h1>
</header>
<section class="section_light">
	<div class="row">
		<p>
			I'm originally coming from Mukachevo, Ukraine. After finshing high school at my hometown I 
			went to study Computer Sciences at Zhitomyr State Technological University. I got a B. Sc. 
			after five year of hard studying. Along with secular education I got religious education at 
			the same place. I continued to study jewish subjects in Migdal HaEmek, Israel after that.
		</p> 
		<p>
			While studying I have developed several personal projects. For the last two years I worked at 
			an outsourcing company as a Software Developer.
		</p> 
		<p>	
			You can download my resume from the following link.
		</p>
	</div>
</section>