@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1 class="welcome_text">Contact Page</h1>
</header>
<section class="section_light">
    <div class="row">
        aaaa
    </div>
</section>
<script type="text/javascript">
    $("#contacts").attr("class", "active");
</script>