@model List<Jakarta.PortfolioItem>

@{
    ViewBag.Title = "Portfolio - Robert Lebovich";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
	<h1 class="welcome_text">Places I have worked in</h1>
</header>
<section>
	<div class="row">
		<div id="container">

		</div>
	</div>
</section>

